Source: pwnsjp
Section: contrib/text
Priority: extra
Maintainer: Jakub Wilk <jwilk@jwilk.net>
Bugs: mailto:jwilk@jwilk.net
Build-Depends: debhelper (>= 5), libncursesw5-dev, zlib1g-dev, xsltproc, docbook-xsl, docbook-xml (>= 4.5)
Standards-Version: 3.8.0

Package: pwnsjp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: pwnsjp-data
Description: An interface to some PWN's dictionaries
 pwnsjp is a console-based frontend to the following dictionaries:
 — “Słownik języka polskiego PWN”, 3 volumes;
 — “Multimedialny słownik PWN. Frazeologia”;
 — “Multimedialny słownik PWN. Język polski”; 
 — “Multimedialny słownik PWN. Wyrazy obce”.  
 .
 This package is only the interface, it does not contain the dictionary files
 itself. To use it, you need a copy of a dictionary from PWN.
