Source: pwnsjp
Section: contrib/text
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Bugs: mailto:ubanus@users.sf.net
Build-Depends: debhelper (>= 5), libncursesw5-dev, zlib1g-dev, xsltproc, docbook-xsl
Standards-Version: 3.7.2

Package: pwnsjp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pwnsjp-data
Description: An interface to the PWN's Polish Dictionary

Package: pwnsjp-data-3tsjp
Architecture: all
Provides: pwnsjp-data
Replaces: pwnsjp-data (<< 0.600)
Conflicts: pwnsjp-data (<< 0.600)
Description: Data files of the PWN's Polish Dictionary, 3 volumes

Package: pwnsjp-data-msf
Architecture: all
Provides: pwnsjp-data
Description: Data files of the PWN's Multimedia Phraseology Dictionary

Package: pwnsjp-data-msjp
Architecture: all
Provides: pwnsjp-data
Description: Data files of the PWN's Multimedia Polish Dictionary

Package: pwnsjp-data-mswo
Architecture: all
Provides: pwnsjp-data
Description: Data files of the PWN's Multimedia Foreign Words Dictionary
